<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'awesomplete.css' %}" />
    <script src="{% static 'awesomplete.js' %}"></script>

    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        // github page : https://github.com/LeaVerou/awesomplete
        // demo   page : https://leaverou.github.io/awesomplete

        function domReady() {
            content = [
                "강남구",
                "강동구",
                "강북구",
                "강서구",
                "관악구",
                "광진구",
                "구로구",
                "금천구",
                "노원구",
                "도봉구",
                "동대문구",
                "동작구",
                "마포구",
                "서대문구",
                "서초구",
                "성동구",
                "성북구",
                "송파구",
                "양천구",
                "영등포구",
                "용산구",
                "은평구",
                "종로구",
                "중구",
                "중랑구"
            ]

            var input = document.getElementById("awesomplete_input");
            var awesomplete = new Awesomplete(input, {
                list: content,
                autoFirst: true
            });


            window.addEventListener("awesomplete-select", function(e) {
                console.log("awesomplete-select");
            }, false);

            window.addEventListener("awesomplete-selectcomplete", function(e) {
                console.log("awesomplete-selectcomplete");
            }, false);

            window.addEventListener("awesomplete-open", function(e) {
                console.log("awesomplete-open");
            }, false);

            window.addEventListener("awesomplete-close", function(e) {
                console.log("awesomplete-close");
            }, false);

            window.addEventListener("awesomplete-highlight", function(e) {
                console.log("awesomplete-highlight");
            }, false);
        };



        // Document Ready ======================================================
        // Mozilla, Opera, Webkit
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", function() {
                document.removeEventListener("DOMContentLoaded", arguments.callee, false);
                domReady();
            }, false);

            // If IE event model is used
        } else if (document.attachEvent) {
            // ensure firing before onload
            document.attachEvent("onreadystatechange", function() {
                if (document.readyState === "complete") {
                    document.detachEvent("onreadystatechange", arguments.callee);
                    domReady();
                }
            });
        }
        //======================================================================
    </script>
</head>

<body>
  <form>
  <div class="form-group">
    <input type="text" id="awesomplete_input" class="form-control"  />
  </div>
  </form
</body>

</html>
